.content-main-wrapper{
  padding: 20px;
}

.content-page-title{
  font-size: xx-large;
  padding-left: 20px;
}



.custom-block-ahref{
  text-decoration: none;
  color: black;
}
.custom-block-wrapper{
  padding: 20px;
  display: flex;
  border-bottom: 1px solid #cecece;
  
}

.custom-block-display-image{
  border: 1px solid #c4c0c073;
  height: 180px;
  width: 360.375px;
  object-fit: cover;
  object-position: center;
}

.custom-block-title{
  text-decoration: underline;
  font-weight: 700;
}

.custom-block-title-and-content-wrapper{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
  padding-top: 10px;

}

.content-page-content-wrapper{
  padding-top: 20px;
}
.notes-wrapper{
  display: flex;
  flex-direction: row;
  border: rgb(170, 170, 170) solid 1px;
  border-radius: 10px;
  padding: 5px;
  background: #e6e6e6;
  width: fit-content;
  gap: 5px;
  font-size: small;
}
@media screen and (max-width: 686px){

  .content-page-title{
    padding-left: 0px;
  }
  .custom-block-wrapper{
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
    
  }
  .custom-block-title-and-content-wrapper{
    padding-left: 0px;
  }

}

@media screen and (max-width: 400px){

  .custom-block-wrapper img{
    height: auto;
    width: auto;
    
  }

}
