.iframeClass{
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  overflow-x: hidden !important;
}

iframe {
  overflow-x: hidden !important;
  overflow-y: hidden !important; /* Optional: hide vertical scrollbar */
}