---
import Nav from "../components/Nav.astro";
import '../styles/index.css'
import Head from '../components/Head.astro'
import Footer from '../components/Footer.astro'
import BioComponent from '../components/BioComponent.astro'




---


<Head/>
<body>
      <Nav />
      <BioComponent/>
      <Footer/>
</body>




