---
import Nav from "../components/Nav.astro";
import '../styles/index.css'
import ContactForm from '../components/ContactForm.jsx'
import Head from '../components/Head.astro'

---


<Head/>
<body>
      <Nav />
      <ContactForm client:visible/>
</body>




