---
import Nav from '../components/Nav.astro'
import Content from '../components/Content.astro'
import Footer from '../components/Footer.astro'


import '../styles/index.css'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>xavier fenton</title>
  </head>
  <body>
      <Nav />
      <Content/>
      <Footer />




   
  </body>
</html>
