---
import '../styles/content.css'
---


<div class="content-main-wrapper">
  <div class="content-page-title">Work</div>
  <div class="custom-block-wrapper">
    <img class="custom-block-display-image" src="/noimage.jpg"></img>
    <div class="custom-block-title-and-content-wrapper">
        <div class="custom-block-title">Title here</div>
        <div class="custom-block-content">Content here</div>
    </div>
  </div>
</div>