---
import '../styles/content.css'

import { sanityClient } from "sanity:client";

const posts = await sanityClient.fetch(`*[_type == "posts"]`);



---


<div class="content-main-wrapper">
  <div class="content-page-title">Work</div>
  <div class="custom-block-wrapper">
    <img class="custom-block-display-image" src="/noimage.jpg"></img>
    <div class="custom-block-title-and-content-wrapper">
      {posts.map((posts) => { // this map will expand to the image tag once configured properly
        return <div class="custom-block-title">{posts.name}</div>
      })}
        <div class="custom-block-content">Content here</div>
    </div>
  </div>
</div>