---
import '../styles/footer.css'
---

<div class="footer-main-wrapper">
  <div class="footer-border"></div>
  <div class="footer-content-wrapper">
    <div class="footer-title">
      2023 ©
      <span class="contact-underline">
        <a href="https://www.instagram.com/rom1ly">contact</a>
      </span>
    </div>
  </div>
</div>