---
import '../styles/footer.css'
---

<div class="footer-main-wrapper">
  <div class="footer-border"></div>
  <div class="footer-content-wrapper">
    <div class="footer-title">
      <div>2024 ©</div>
      <span class="contact-underline">
        <a href="/contact">contact</a>
      </span>
    </div>
  </div>
</div>