---
import '../styles/nav.css'
---


<div class="header">
  <a href="/"><span class="nav-title">xavier</span></a>
  <a href="/contact/"><span class="nav-contact">contact</span></a>
</div>
<div class="nav-border"></div>